/*Обнуление*/
*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./fonts/inter-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/inter-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-500 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('./fonts/inter-v7-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/inter-v7-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-600 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('./fonts/inter-v7-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/inter-v7-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-700 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('./fonts/inter-v7-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/inter-v7-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* itim-regular - latin-ext_latin */
@font-face {
  font-family: 'Itim';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./fonts/itim-v5-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/itim-v5-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body{
  background-color: #171836;
}

.wrapper{
  max-width: 1440px;
  max-height: 80px;
  background-color: #171836;
;
}

.header_wrapper{
  display: flex;
}

.logo_wrapper_link{
  flex: 0 0 20%;
  font-family: "Inter";
  font-size: 14px;
  text-align: center;
  margin-top: 22px;
  margin-bottom: 10px;
}

.header_logo_link{
  margin-left: 120px;
  margin-bottom: 20,81px;
}

.content_hero{
  background-color: #171836;
}

.content_image{
  background: url(img/heroback.png) no-repeat;
}

.content_book{
  position: absolute;
  width: 90px;
  height: 90px;
  left: 576.08px;
  top: 158.15px;
  background: linear-gradient(180deg, rgba(76, 94, 157, 0.9) -32.08%, rgba(23, 24, 54, 0.9) 127.36%);
  border-radius: 20px;
  transform: rotate(12.79deg);
}

.img_book{
  position: absolute;
  top: 15.51px;
  left: 25.41px;
  box-sizing: border-box;
  text-align: center;
}

.content_lamp{
  position: absolute;
  width: 90px;
  height: 90px;
  left: 92.63px;
  top: 282.43px;
  background: linear-gradient(180deg, rgba(76, 94, 157, 0.9) -32.08%, rgba(23, 24, 54, 0.9) 127.36%);
  border-radius: 20px;
  transform: rotate(-8.82deg);
}

.img_lamp{
  position: absolute;
  height: 56.822036275595025px;
  width: 59.618644223774105px;
  left: 15.30px;
  top: 15.55px;
  transform: rotate(10deg);
}

.content_sidebar{
  position: absolute;
  width: 363px;
  height: 92px;
  left: 394px;
  top: 757px;
  background: linear-gradient(180deg, rgba(76, 94, 157, 0.8) -32.08%, rgba(23, 24, 54, 0.8) 127.36%);
  border-radius: 20px;
}

.photo1, .photo2, .photo3, .photo4, .photo5{
  position: absolute;
  top: 20px;
  bottom: 20px;
}

.photo1{
  left: 20px;
}

.photo2{
  left: 56px;
}

.photo3{
  left: 92px;
}

.photo4{
  left: 128px;
}

.photo5{
  left: 164px;
}

.sidebar_text{
  position: absolute;
  width: 111px;
  height: 44px;
  top: 24px;
  left: 232px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;

  color: #BBBBC4;
}

.side_orange{
  color: #ff2b2b;
}

.right_text{
  position: absolute;
  width: 484px;
  height: 219px;
  left: 450px;
  bottom: 450px;

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 73px;
  color: #FFFFFFCC;
}

.right_text_under{
  position: absolute;
  width: 478px;
  height: 27px;
  left: 455px;
  bottom: 426px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF66;
}

.input_text{
  position: absolute;
  width: 506px;
  height: 68px;
  bottom: 320px;
  left: 450px;

  background: #1F2143;
  border-radius: 12px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  color: #FFFFFF66;
}

.suggestions{
  position: absolute;
  width: 106px;
  height: 27px;
  left: 455px;
  bottom: 262px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;

  color: #FFFFFF66;
}

.ui, .css, .zd, .website, .logo, .icon{
  position: static;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;

  color: #9A9CCB99;
}

.ui{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  justify-content: center;

  position: absolute;
  width: 123px;
  height: 37px;
  left: 450px;
  bottom: 200px;

  border: 1px solid rgba(154, 156, 203, 0.6);
  border-radius: 8px;
}

.css{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  justify-content: center;

  position: absolute;
  width: 154px;
  height: 37px;
  left: 594px;
  bottom: 200px;

  border: 1px solid rgba(154, 156, 203, 0.6);
  border-radius: 8px;
}

.zd{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  justify-content: center;

  position: absolute;
  width: 178px;
  height: 37px;
  left: 768px;
  bottom: 200px;

  border: 1px solid rgba(154, 156, 203, 0.6);
  border-radius: 8px;
}

.website{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  justify-content: center;

  position: absolute;
  width: 181px;
  height: 37px;
  left: 450px;
  bottom: 150px;

  border: 1px solid rgba(154, 156, 203, 0.6);
  border-radius: 8px;
}

.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  justify-content: center;

  position: absolute;
  width: 119px;
  height: 37px;
  left: 650px;
  bottom: 150px;

  border: 1px solid rgba(154, 156, 203, 0.6);
  border-radius: 8px;
}

.icon{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  justify-content: center;

  position: absolute;
  width: 114px;
  height: 37px;
  left: 785px;
  bottom: 150px;

  border: 1px solid rgba(154, 156, 203, 0.6);
  border-radius: 8px;
}

.featured{
  position: absolute;
  width: 1440px;
  height: 348px;
  left: 0px;
  top: 1024px;
}

.gnf_border{
  position: absolute;
  width: 48px;
  height: 48px;
  left: 120px;
  top: 102px;
  display: flex;
}

.icon_border{
  position: absolute;
  left: 12.5px;
  top: 10px;
}

.gnf_text_up{
  position: absolute;
  left: 203px;
  top: 110px;

  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;

  color: #FFFFFFB2;
}

.gnf_text_down{
  position: absolute;
  width: 311px;
  height: 72px;
  left: 203px;
  top: 154px;

  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  color: #FFFFFF99;
}

.mentor_border{
  position: absolute;
  width: 48px;
  height: 48px;
  left: 593.42px;
  top: 102px;
  display: flex;
}

.mentor_icon{
  position: absolute;
  left: 13.5px;
  top: 12px;
}

.mentor_text_up{
  position: absolute;
  width: 221px;
  height: 30px;
  left: 670px;
  top: 110px;

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;

  color: #FFFFFFB2;
}

.mentor_text_down{
  position: absolute;
  width: 311px;
  height: 72px;
  left: 670px;
  top: 154px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  color: #FFFFFF99;
}

.flex_border{
 position: absolute;
  width: 48px;
  height: 48px;
  left: 1050.42px;
  top: 102px;
  display: flex;
}

.flex_icon{
  position: absolute;
  left: 12px;
  top: 12px;
}

.flex_text_up{
  position: absolute;
  width: 151px;
  height: 30px;
  left: 1122px;
  top: 110px;

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;

  color: #FFFFFFB2;
}

.flex_text_down{
  position: absolute;
  left: 1122px;
  top: 154px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 170%;

  color: #FFFFFF99;
}

.classes{
  position: absolute;
  width: 1440px;
  height: 900px;
  left: 0px;
  top: 1372px;
  display: flex;
}

.start_text{
  position: absolute;
  width: 495px;
  height: 54px;
  left: 550px;
  top: 66px;

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;

  color: #FFFFFFCC;
}

.under_start{
  position: absolute;
  width: 487px;
  height: 27px;
  left: 555px;
  top: 140px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;

  color: #FFFFFF66;
}

.digital{
  position: absolute;
  width: 276px;
  height: 485px;
  left: 120px;
  top: 251px;

  background: linear-gradient(180deg, #202246 -53.38%, rgba(40, 43, 87, 0.17) 100%);
  border-radius: 20px;
}

.img_dig{
  position: absolute;
  width: 252px;
  height: 169px;
  left: 12px;
  top: 12px;

  background: rgba(30, 32, 67, 0.3);
  border-radius: 10px;
}

.tech{
  position: absolute;
  width: 67px;
  height: 18px;
  left: 12px;
  top: 205px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;

  color: #3BF5BD;
}

.dig_mark{
  position: absolute;
  width: 243px;
  height: 27px;
  left: 12px;
  top: 231px;

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;

  color: #FFFFFFCC;
}

.dig_content{
  position: absolute;
  width: 250px;
  height: 42px;
  left: 12px;
  top: 270px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 27px;

  color: #FFFFFF66;
}

.vector{
  position: absolute;
  width: 252px;
  height: 0px;
  left: 12px;
  top: 332px;

  border: 1px solid #292B56
}

.img_joey{
  position: absolute;
  width: 40px;
  height: 40px;
  left: 12px;
  top: 352px;

  background: url(img/table_classes/joey.png);
}

.name_dig{
  position: absolute;
  width: 70px;
  height: 21px;
  left: 67px;
  top: 351px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

  color:#FFFFFFCC;
}

.joey_class{
  position: absolute;
  width: 41px;
  height: 18px;
  left: 67px;
  top: 374px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF66;
}

.button_dig{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 32px;

  position: absolute;
  width: 155px;
  height: 41px;
  left: 59px;
  top: 420px;

  background: #F5443B;
  border-radius: 6px;

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.figma{
  position: absolute;
  width: 276px;
  height: 412px;
  left: 428px;
  top: 251px;

  background: linear-gradient(180deg, #202246 -53.38%, rgba(40, 43, 87, 0.2) 100%);
  border-radius: 20px;
}

.img_figma{
  position: absolute;
  width: 252px;
  height: 169px;
  left: 12px;
  top: 12px;

  background: rgba(30, 32, 67, 0.3);
  border-radius: 10px;
}

.design{
  position: absolute;
  width: 40px;
  height: 18px;
  left: 13px;
  top: 205px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;

  color: #3BF5BD;
}

.figma_text{
  position: absolute;
  width: 243px;
  height: 27px;
  left: 12px;
  top: 231px;

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  
  color: rgba(255, 255, 255, 0.8);
}

.figma_content{
  position: absolute;
  width: 250px;
  height: 42px;
  left: 12px;
  top: 270px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  color: rgba(255, 255, 255, 0.4);
}

.figma_vector{
  position: absolute;
  width: 252px;
  height: 0px;
  left: 12px;
  top: 332px;

  border: 1px solid #292B56;
}

.name_figma{
  position: absolute;
  width: 83px;
  height: 21px;
  left: 67px;
  top: 351px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  
  color: rgba(255, 255, 255, 0.8);
}

.img_araya{
  position: absolute;
  width: 40px;
  height: 40px;
  left: 12px;
  top: 352px;

  background: url(img/table_classes/araya.jpg) #C4C4C4;
  border-radius: 50%;
}

.araya_class{
  position: absolute;
  width: 41px;
  height: 18px;
  left: 67px;
  top: 374px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;

  color: rgba(255, 255, 255, 0.4);
}

.html{
  position: absolute;
  width: 276px;
  height: 412px;
  left: 736px;
  top: 251px;

  background: linear-gradient(180deg, #202246 -53.38%, rgba(40, 43, 87, 0.2) 100%);
  border-radius: 20px;
}

.html_img{
  position: absolute;
  width: 252px;
  height: 169px;
  left: 12px;
  top: 12px;

  background: rgba(30, 32, 67, 0.3);
  border-radius: 10px;
}

.coding{
  position: absolute;
  width: 42px;
  height: 18px;
  left: 13px;
  top: 205px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;

  color: #3BF5BD;
}

.html_text{
  position: absolute;
  width: 243px;
  height: 27px;
  left: 12px;
  top: 231px;

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;

  color: rgba(255, 255, 255, 0.8);
}

.html_content{
  position: absolute;
  width: 250px;
  height: 42px;
  left: 12px;
  top: 270px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  color: rgba(255, 255, 255, 0.4);
}

.html_vector{
  position: absolute;
  width: 252px;
  height: 0px;
  left: 12px;
  top: 332px;

  border: 1px solid #292B56;
}

.name_html{
  position: absolute;
  width: 70px;
  height: 21px;
  left: 67px;
  top: 351px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

  color: rgba(255, 255, 255, 0.8);
}

.img_ellisa{
  position: absolute;
  width: 40px;
  height: 40px;
  left: 12px;
  top: 352px;

  background:url(img/table_classes/ellisa.jpg) #C4C4C4;
  border-radius: 50%;
}

.ellisa_class{
  position: absolute;
  width: 41px;
  height: 18px;
  left: 67px;
  top: 374px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;

  color: rgba(255, 255, 255, 0.4);
}

.android{
  position: absolute;
  width: 276px;
  height: 412px;
  left: 1044px;
  top: 251px;

  background: linear-gradient(180deg, #202246 -53.38%, rgba(40, 43, 87, 0.2) 100%);
  border-radius: 20px;
}

.coding_android{
  position: absolute;
  width: 42px;
  height: 18px;
  left: 13px;
  top: 205px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;

  color: #3BF5BD;
}

.android_text{
  position: absolute;
  width: 243px;
  height: 27px;
  left: 12px;
  top: 231px;

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;

  color: rgba(255, 255, 255, 0.8);
}

.android_content{
  position: absolute;
  width: 250px;
  height: 42px;
  left: 12px;
  top: 270px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  color: rgba(255, 255, 255, 0.4);
}

.android_vector{
  position: absolute;
  width: 252px;
  height: 0px;
  left: 12px;
  top: 332px;

  border: 1px solid #292B56;
}

.name_android{
  position: absolute;
  width: 88px;
  height: 21px;
  left: 67px;
  top: 351px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

  color: rgba(255, 255, 255, 0.8);
}

.wendy_img{
  position: absolute;
  width: 40px;
  height: 40px;
  left: 12px;
  top: 352px;

  background: url(img/table_classes/wendy.jpg) #C4C4C4;
  border-radius: 50%;
}

.wendy_class{
  position: absolute;
  width: 41px;
  height: 18px;
  left: 67px;
  top: 374px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;

  color: rgba(255, 255, 255, 0.4);
}

.button_footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 32px;

  position: absolute;
  width: 198px;
  height: 51px;
  left: 646px;
  top: 784px;

  border: 1px solid #F5443B;
  box-sizing: border-box;
  border-radius: 6px;
}

.text_button_footer{
  position: static;
  width: 134px;
  height: 19px;
  left: 25px;
  top: 16px;

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;

  color: #F5443B;
  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}